#root {
	position: relative;
	min-height: 100vh;
}
.content {
	padding-bottom: 2.5rem;
}

// Components
@import "./sass/components/pageComponents/footer/footer.scss";
@import "./sass/components/pageComponents/carousel/carousel.scss";
@import "./sass/components/pageComponents/Jumbotrons/homeJumbotron.scss";
//General Files
@import "./sass/general/section/section.scss";
