.section-divider {
	padding: 5rem 0;
	background-image: linear-gradient(
			to right bottom,
			rgba(158, 158, 158, 0.8),
			rgba(129, 129, 129, 0.8)
		),
		url("./images/coast-view.jpg");
	background-size: cover;
	transform: skewY(-1deg);
	margin-top: 2rem;
	margin-bottom: 1rem;

	& > * {
		transform: skewY(7deg);
	}

	// @include respond(tab-port) {
	// 	padding: 10rem 0;
	// }
}
